<!DOCTYPE html>
<html>
<head>
  <title>TestEvent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:notice] %>

<% if user_signed_in? %>
  <span>Hi, <%= current_user.full_name %></span>
  <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Sign In', new_user_session_path %> or <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>
<%= yield %>

</body>
</html>
